img {
  max-width: 100%;
  height: auto;
  display: block;
  background-size: cover;
}
button {
  position: absolute;
  left: 50%;
  top: 6%;
  transform: translate(-50%);
  height: 50px;
  width: 200px;
  font-size: 18px;
  color: ghostwhite;
  background-color: #404040;
}
h1 {
  text-align: center;
  font-size: 30px;
  z-index: 9999;
}
