<h1> Benefits joining our team </h1>
<h2> Save your time and money. Let's stop wasting food together </h2>

<table class="mainTable">
  <tr>
    <td>
      <p class="title"> Quick and easy to use </p>
      <p class="subtitle"> Designed with a busy retailer in mind. Sell surplus food in just a few clicks. </p>
    </td>
    <td>
      <p class="title"> Cut your food surplus </p>
      <p class="subtitle"> "Don't!Waste" customers usually cut their food waste by 50-80%. </p>
    </td>
    <td>
      <p class="title"> Spearhead CSR </p>
      <p class="subtitle"> Zero food waste is our goal and with your help we can make it. </p>
    </td>
  </tr>
  <tr>
    <td>
      <p class="title"> Increase profits </p>
      <p class="subtitle"> Make money of what you used to throw away.
        Customers can expect an additional revenue of ₪130.000 - 140.000 per year.
      </p>
    </td>
    <td>
      <p class="title"> Increase foot traffic </p>
      <p class="subtitle">
        Attract new customers to visit your venue. 65% of customers buy additional goods in the store and starts
        visiting your place more often.
      </p>
    </td>
    <td>
      <p class="title"> Targeted free marketing </p>
      <p class="subtitle"> Strengthen and increase your brand.
        In our application each store have an opportunity to reach a lot followers and regular customers.
      </p>
    </td>
  </tr>
</table>

<h3> Turn unsold meals into new customers and revenue </h3>

<mat-card>
  <table class="beforeAfter">
    <tr>
      <th>
        <p class="ba1"> Before using "Don't!Waste" </p>
      </th>
      <th>
        <p class="ba1"> After using "Don't!Waste" </p>
      </th>
    </tr>
    <tr>
      <td>
        <p class="ba2"> Having the perfect match of meals and customers is a huge challenge.
          The risk selling out before peak hours ends is big.
          Not taking that risk makes it quite easy to have leftover meals at the end of service.
        </p>
      </td>
      <td>
        <p class="ba2"> Preparings that does not get sold in your restaurant by different kind of reasons,
          sell as take-away to new "Don't!Waste" customers during your silent hours.
          8 out of 10 meals uploaded to our application sell instantly.
        </p>
      </td>
    </tr>
  </table>
</mat-card>
