<div class="form" *ngIf="currentUser">
  <mat-card class="description">
    <h1><b>PRODUCT DESCRIPTION</b></h1>

    <mat-card-content>

      <div class="field">
        <div>Institution Name: <b>{{productTemplate.institution.institutionName}}</b></div>
      </div><br/>
      <div class="field">
        <div>Branch Address: <b>{{currentUser.branch.branchAddress}}, {{currentUser.branch.branchCity}}</b></div>
      </div><br/>
      <div class="field">
        <div>Product Name: <b>{{productTemplate.productName}}</b></div>
      </div><br/>
      <div class="descField">
        <div>Product Description: <b>{{productTemplate.productDescription}}</b></div>
      </div><br/>
      <div class="field">
        <div><img [src]="productTemplate.productImage" alt="ph"></div>
      </div><br/>

    </mat-card-content>
  </mat-card>

  <mat-card class="value">
    <form [formGroup]="formGroup"
          (ngSubmit)="onSubmit()">

      <h1><b>ENTER VALUE</b></h1>

      <mat-card-content class="valueContent">
        <mat-form-field appearance="fill" class="small">
          <mat-label>Price <b>before</b> sale</mat-label>
          <input matInput
                 type="number"
                 min="1"
                 formControlName="startingPrice" required>
        </mat-form-field><br/>

        <mat-form-field appearance="fill" class="small">
          <mat-label>Price <b>after</b> sale</mat-label>
          <input matInput
                 type="number"
                 min="1"
                 formControlName="price" required>
        </mat-form-field><br/>

        <mat-form-field appearance="fill" class="small">
          <mat-label>Quantity</mat-label>
          <input matInput
                 min="1"
                 type="number"
                 formControlName="quantity" required>
        </mat-form-field><br/>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button
                type="submit"
                class="button"
                [disabled]="!formGroup.valid"> Add
        </button>
      </mat-card-actions>
    </form>
  </mat-card>

</div>
