<div *ngIf="currentUser">
  <mat-card>
    <h1><b>BUSINESS GENERAL INFO</b></h1>
    <h2> Feel free to edit any of your details below so your account is totally up to date. </h2>
    <mat-card-content>
      <form [formGroup]="info" (ngSubmit)="onSubmit()" *ngIf="this.info">

        <div class="field">
          <p>E-mail:</p>
          <mat-form-field appearance="fill">
            <input matInput
                   value="{{currentUser.email}}" disabled/>
          </mat-form-field>
        </div>
        <div class="field">
          <p>Phone:</p>
          <mat-form-field appearance="fill">
            <input matInput
                   value="+972{{currentUser.phone}}" disabled/>
          </mat-form-field>
        </div><br/><br/>

        <div class="field">
          <p>First name:</p>
          <mat-form-field appearance="fill">
            <input matInput
                   value="{{currentUser.firstName}}"
                   formControlName="firstName"
                   (keydown.space)="$event.preventDefault()"
                   required/>
          </mat-form-field>
        </div>

        <div class="field">
          <p>Last name:</p>
          <mat-form-field appearance="fill">
            <input matInput
                   value="{{currentUser.lastName}}"
                   formControlName="lastName"
                   (keydown.space)="$event.preventDefault()"
                   required/>
          </mat-form-field>
        </div>

        <button mat-raised-button
                type="submit"
                class="button"
                [disabled]="!info.dirty"> Save
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
