<div class="form">
  <mat-card>
    <form [formGroup]="formGroup"
          (ngSubmit)="onSubmit()">
      <mat-card-title>
        <h1><b>CREATE NEW PRODUCT TEMPLATE</b></h1>
      </mat-card-title>

      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Price <b>before</b> sale</mat-label>
          <input matInput
                 type="number"
                 min="1"
                 formControlName="startingPrice" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Price <b>after</b> sale</mat-label>
          <input matInput
                 type="number"
                 min="1"
                 formControlName="price" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Quantity</mat-label>
          <input matInput
                 min="1"
                 type="number"
                 formControlName="quantity" required>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button
                type="submit"
                class="button"
                [disabled]="!formGroup.valid"> Create
        </button>
      </mat-card-actions>
    </form>
  </mat-card>

</div>
