<div class="form">
  <mat-card>
    <form [formGroup]="formGroup"
          (ngSubmit)="onSubmit()">
      <mat-card-title>
        <h1><b>CREATE NEW PRODUCT TEMPLATE</b></h1>
      </mat-card-title>

      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Product name</mat-label>
          <input matInput
                 formControlName="productName" required>
        </mat-form-field>

        <mat-form-field appearance="fill"
                        class="shortFields">
          <mat-label>Product image</mat-label>
          <input matInput
                 formControlName="productImage">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <span class="textArea">{{role.length}}/{{maxChars}}</span>
          <textarea matInput
                    placeholder="Product description"
                    formControlName="productDescription"
                    [(ngModel)]="role"
                    [maxlength]="maxChars"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Kitchen</mat-label>
          <mat-select [(ngModel)]="selectedKitchenValue" formControlName="kitchenTypeId">
            <mat-option *ngFor="let kitchen of kitchenTypeList"
                        [value]="kitchen.id">
              {{kitchen.kitchenName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Dish</mat-label>
          <mat-select [(ngModel)]="selectedDishValue" formControlName="dishTypeId">
            <mat-option *ngFor="let dish of dishTypeList"
                        [value]="dish.id">
              {{dish.dishType}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="checkboxes">
          <mat-checkbox formControlName="kosher" [(ngModel)]="checkedKosher">Kosher</mat-checkbox>
          <mat-checkbox formControlName="vegetarian" [(ngModel)]="checkedVegetarian">Vegetarian</mat-checkbox>
          <mat-checkbox formControlName="vegan" [(ngModel)]="checkedVegan">Vegan</mat-checkbox>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Institution</mat-label>
          <mat-select [(ngModel)]="selectedInstitutionValue" formControlName="institutionId">
            <mat-option *ngFor="let institution of institutionList"
                        [value]="institution.id">
              {{institution.institutionName}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button
                type="submit"
                class="button"
                [disabled]="!formGroup.valid"> Create
        </button>
      </mat-card-actions>
    </form>
  </mat-card>

</div>
