.card {
  width: 400px;
  margin: 2% 11px 2% 11px;
  color: #404040;
  background: rgba(255, 255, 255, 0.5);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.header-image {
  top: 3px;
  background-size: cover;
  width: 80px;
  height: 80px;
  position: absolute;
}
mat-card-header {
  min-height: 70px;
}
img {
  height: 265px;
}
::ng-deep .mat-card-header-text {
  margin: 0 !important;
}
.mat-card-header-text {
  margin: 0 auto !important;
}
.price {
  display: flex;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: center;
}
.oldPrice {
  margin-left: 2%;
  text-decoration: line-through;
}
::ng-deep.snackAdd {
  position: absolute;
  top: 65px;
  right: 112px;
  height: 50px;
  background-color: #FF4081;
  color: white;
}
::ng-deep.mat-simple-snackbar {
  justify-content: center !important;
}
button {
  background: rgba(255, 255, 255, 0.3);
}
.banner {
  position: absolute;
  width: 105px;
  height: 25px;
  left: 20px;
  top: 106px;
  opacity: 0.9;
}
.bannerText {
  position: absolute;
  color: ghostwhite;
  left: 10px;
  top: 97px;
  font-size: 12px;
}
.banner2 {
  position: absolute;
  width: 135px;
  height: 25px;
  left: 20px;
  top: 134px;
  opacity: 0.9;
}
.bannerText2 {
  position: absolute;
  left: 11px;
  top: 125px;
  font-size: 12px;
}
.veg {
  position: absolute;
  display: grid;
  right: 10px;
  top: 18px;
  row-gap: 1px;
}
.vegan {
  height: 25px;
  width: 25px;
}
.vegetarian {
  height: 25px;
  width: 25px;
}
.kosher {
  height: 25px;
  width: 25px;
}
mat-card img {
  margin-bottom: 3px !important;
}

