<mat-card class="card">
  <mat-card-header>
    <img mat-card-avatar [attr.src]="productTemplateItem.institution.institutionLogo" class="header-image" alt="Institution logo"/>
    <div class="mat-card-header-text">
      <mat-card-title> {{productTemplateItem.productName}} </mat-card-title>
      <mat-card-subtitle> From <b>{{productTemplateItem.institution.institutionName}}</b></mat-card-subtitle>
    </div>
  </mat-card-header>

  <img mat-card-image [src]="productTemplateItem.productImage" alt="Product image">
  <mat-card-content class="price">
    <div class="newPrice"><b>  {{productItem.price | currency: 'ILS'}} </b></div>
    <div class="oldPrice"> {{productItem.startingPrice | currency: 'ILS'}} </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
            type="button"
            *ngIf="!manager"
            (click)="addToCart()">
      <mat-icon>add_shopping_cart</mat-icon>
      Add To Cart
    </button>
  </mat-card-actions>
</mat-card>
