<mat-card class="card">
  <mat-card-header>
    <img mat-card-avatar
         [attr.src]="productItem.productTemplate.institution.institutionLogo"
         class="header-image"
         alt="Institution logo"/>
    <div class="mat-card-header-text">
      <mat-card-title> {{productItem.productTemplate.productName}} </mat-card-title>
      <mat-card-subtitle> From <b>{{productItem.productTemplate.institution.institutionName}}</b></mat-card-subtitle>
    </div>
  </mat-card-header>

  <img mat-card-image [src]="productItem.productTemplate.productImage" alt="Product image">
  <div>
    <img class="banner" mat-card-image src="../../../assets/bannerCity.png"/>
    <mat-card-title class="bannerText"> {{productItem.branch.branchCity}} </mat-card-title>
  </div>
  <div>
    <img class="banner2" mat-card-image src="../../../assets/bannerAddress.png"/>
    <mat-card-title class="bannerText2"> {{productItem.branch.branchAddress}} </mat-card-title>
  </div>
  <mat-card-content class="price">
    <div class="newPrice"><b>  {{productItem.price | currency: 'ILS'}} </b></div>
    <div class="oldPrice"> {{productItem.startingPrice | currency: 'ILS'}} </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
            type="button"
            *ngIf="!manager"
            (click)="addToCart()">
      <mat-icon>add_shopping_cart</mat-icon>
      Add To Cart
    </button>
  </mat-card-actions>
</mat-card>
