mat-card {
  top: 50px;
  background-color: ghostwhite;
  color: #404040;
  max-width: 100%;
  margin-bottom: 3%;
}
mat-form-field {
  width: 12%;
  margin: 5px;
}
.filterInput{
  list-style: none;
  display: flex;
  justify-content: center;
}
.products {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.list {
  padding-top: 2%;
}
.searchInput {
  width: 95%;
  margin: 0 42px;
}
mat-checkbox {
  position: relative;
  margin-top: 1%;
  margin-left: 2%;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: darkcyan !important;
}
